<!DOCTYPE html>
<html>
<head>
	<title>Medicossi</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<nav class="navbar navbar-toggleable-md navbar-config">
	  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <a class="navbar-brand" id="show" href="#">Navbar</a>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	    	<img class="img-navbar" src="img/Medicossi-Marca original-01.png">
	    </form>
	  </div>
	</nav>

	<section class="box-register">
		<div class="container">
			<div class="register">
				<div class="row">
					<div class="col-12 mb-3">
						<h2 class="text-center font-title">Registro de pacientes</h2>
					</div>
				</div>
					<form>
						<div class="row mt-2">
							<div class="col-lg-12 col-12">
								<div class="form-group">
								    <input type="id-cedula" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cedula">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="form-group">
								    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
								</div>
							</div>
								<div class="col-lg-6 col-12">
									<div class="form-group">
									    <input type="last-name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido">
									 </div>
								</div>
						</div>
						<div class="row">
							<div class="col-6">
								  <div class="form-group">
								    	<select class="form-control" id="exampleSelect1" placeholer="Seleccione su sexo">
									      <option>Masculino</option>
									      <option>Femenino</option>
								    	</select>
								  </div>
							</div>
							<div class="col-6">
								  	<div class="form-group">
								    	<select class="form-control" id="exampleSelect1" placeholer="Seleccione su Estado">
									      <option>Vargas</option>
									      <option>Portuguesa</option>
								    	</select>
								  </div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="form-group">
								    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
								</div>
							</div>
								<div class="col-lg-6 col-12">
									<div class="form-group">
									    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Contraseña">
									 </div>
								</div>
						</div>
						<div class="row">
							<div class="col-12">
								  	<div class="form-group">
								    	<select class="form-control" id="exampleSelect1" placeholer="Seleccione su Estado">
									      <option>Especialidad A</option>
									      <option>Especialidad B</option>
								    	</select>
								  </div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								  	<div class="form-group">
								    	<select class="form-control" id="exampleSelect1" placeholer="Seleccione su Estado">
									      <option>Sub-Especialidad A</option>
									      <option>Sub-Especialidad B</option>
								    	</select>
								  </div>
							</div>
						</div>
						<div class="row">
								<div class="col-lg-12 col-12">
									  	<div class="form-group">
									    	<select class="form-control" id="exampleSelect1" placeholer="Seleccione su centro medico">
										      <option>Seleccione centro medico</option>
										      <option>Seleccione centro medico</option>
									    	</select>
									  </div>
								</div>
							</div>
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="form-group">
								    <input type="telephone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefono">
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="form-group">
									<input type="facebook" class="form-control" id="exampleInputPassword1" placeholder="Facebook">
								</div>
							</div>
						</div>
					  <div class="row">
					  	<div class="col-lg-6 col-12 mt-2">
					  		<button type="submit" class="btn-config-blue btn btn-block">Limpiar</button>
					  	</div>
					  	<div class="col-lg-6 col-12 mt-2">
					  		<button type="submit" class="btn-config-green btn btn-block">Registrar</button>
					  	</div>
					  </div>
					</form>
			</div>
		</div>
	</section>
</body>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</html>
